body {
    margin: 0;
}

#topBar {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
}

#timer {
    padding: 1em;
    border-radius: .5em;
    background-color: white;
}

#panoContainer {
    z-index: -1;
}